<%= form_with model: @check, class: 'justify-content-center text-dark' do |form| %>
  <div class="my-3 d-flex flex-column">
    <%= form.label :employeeid, class: 'form-label' %>
    <%= form.text_field :employeeid, class: 'form-control'%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="my-3 d-flex flex justify-content-evenly form-check py-3">
    <div>
      <%= form.radio_button :check, 1 ,class: 'form-check-input'%> Check in
    </div>
    <div>
      <%= form.radio_button :check, 2 ,class: 'form-check-input'%> Check out
    </div>
  </div>

  <div class="my-3 d-flex justify-content-center">
    <%= form.submit class: 'btn btn-outline-dark'%>
  </div>
<% end %>
