<%= form_with model: @check do |form| %>
<<<<<<< HEAD
  <div>
    <%= form.label :employee_id %><br>
=======
  <div></div>
    <%= form.label :employee_id %>
>>>>>>> 6d082a2 (Fix some issues mentioned in our PR)
    <%= form.text_field :employeeid%>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password%>
  </div>

  <div>
    <%= form.radio_button :check, 1 %> Checkin
    <%= form.radio_button :check, 2 %> Checkout
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
