<%= form_with model: @user do |form| %>
  <div class="my-3 d-flex flex-column">
    <%= form.label :name, class: 'form-label' %><br>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :email, class: 'form-label' %><br>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :position, class: 'form-label' %><br>
    <%= form.select :position, ['option1', 'option2'], class: 'form-control'%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :number_employee, class: 'form-label' %><br>
    <%= form.number_field :number_employee, step: 1, class: 'form-control' %>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :number_private, class: 'form-label' %><br>
    <%= form.password_field  :number_private, class: 'form-control'%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :company, class: 'form-label' %><br>
    <%= form.select :company, ['option1', 'option2'], class: 'form-control'%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.submit class: 'btn btn-secondary fs-5'%>
  </div>
<% end %>
