<%= form_with model: @user do |form| %>
<<<<<<< HEAD
  <div>
    <%= form.label :name %><br>
=======
  <div></div>
    <%= form.label :name %>
>>>>>>> 6d082a2 (Fix some issues mentioned in our PR)
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :position %>
    <%= form.select :position, ['option1', 'option2']%>
  </div>

  <div>
<<<<<<< HEAD
    <%= form.label :number_employee %><br>
    <%= form.number_field :number_employee, step: 1 %>
  </div>

  <div>
    <%= form.label :number_private %><br>
    <%= form.password_field  :number_private%>
=======
      <%= form.label :number_employee %>
      <%= form.number_field :number_employee, step: 1 %>
  </div>

  <div>
      <%= form.label :number_private %>
      <%= form.password_field  :number_private%>
>>>>>>> 6d082a2 (Fix some issues mentioned in our PR)
  </div>

  <div>
    <%= form.label :company %>
    <%= form.select :company, ['option1', 'option2']%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
