<%= form_with class: 'row bg-primary rounded m-4 mx-md-0', model: @company do |form| %>
  <div class="my-3 d-flex flex-column">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: "Company's Name"%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control', placeholder: "Company's Address" %>
  </div>

  <div class="my-3 d-flex justify-content-center">
    <%= form.submit class: 'btn btn-secondary fs-5'%>
  </div>
<% end %>
