<main>
  <!-- This is the main container-->
  <div class="container-fluid"> <%# class %>
    <div class="col"> <%# left side %>
      <%= render 'nav' %>
    </div> <%# /left side %>

    <div class="col"> <%# right side %>
        <div> <%# content R%>
          <h2>Companies List</h2>
          <span><%= link_to "List of Companies", "/company/" %></span>
          <span><%= link_to "Create Company", "/company/new" %></span>
          <%= form_with model: @company do |form|  %>
            <div>
              <%= form.label :Name %><br>
              <%= form.text_field :title, placeholder: "Current Name" %>
            </div>
            <div>
              <%= form.label :Address %><br>
              <%= form.text_field :body, placeholder: "Current Address" %>
            </div>
            <div>
              <%= form.submit %>
            </div>
          <% end %>
        </div> <%# /content %>
    </div> <%# /right side R %>
  </div> <%# /class %>
</main>