<%= form_with model: @user do |form| %>
  <div class="my-3 d-flex flex-column">
    <%= form.label :employeeid, "ID",  class: 'form-label' %>
    <%= form.text_field :employeeid, class: 'form-control'%>
  </div>

  <div class="my-3 d-flex flex-column">
    <%= form.label :password, class: 'form-label' %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="my-3 d-flex justify-content-center">
    <%= form.submit class: 'btn btn-outline-dark'%>
  </div>
<% end %>
