<main class="bg-first d-flex justify-content-center align-items-start">
  <div class="container-xl">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-4 fw-bold text-center mb-5 pt-3">
        Daily checks
      </h1>
      <%= link_to "Return", "/reports/", class: "btn btn-outline-dark shadow" %>
    </div>
    
    <div class="row justify-content-between align-items center">
      <div class="col-md-5">
        <p>Check in</p>
        <p>Average <%= @avgin_hour %> hrs</p>
        <%= column_chart Check.group_by_day_of_week(:created_at, format: "%A").count %>
      </div>
      <div class="col-md-5">
        <p>Check out</p>
        <p>Average <%= @avgout_hour %> hrs</p>
        <%= column_chart Check.where(check: '2').group_by_day_of_week(:created_at, format: "%A").count %>
      </div>
    </div>
  </div>
</main>
