<!DOCTYPE html>
<html>
  <head>
    <title>ClockChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-dark p-3 d-flex text-light header-container">
      <div class="d-flex justify-content-between align-items-center container-xl">
        <a class="text-dark" href="">
          <%= image_tag("logo.png", alt: "admin image", class: 'rounded logo') %>
        </a>
        <a class="btn btn-outline-light" href="/login/new">Login</a>
      </div>
      <br>
    </header>

      <%= yield %>

    <footer class="p-2 d-flex text-light bg-dark fixed-bottom footer-container">
        <!-- This is the footer container-->
        <div class="d-flex justify-content-between align-items-center container-xl">
          <div class="fw-bold">Team 4 RoR</div>
          <div class="fw-bold">Copyright 2023</div>
        </div>
    </footer>
  </body>
</html>
