<!DOCTYPE html>
<html>
  <head>
    <title>ClockChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-dark p-3 d-flex text-light header-container">
      <div class="d-flex justify-content-between align-items-center container-xl">
        <a class="text-dark" href="">
          <%= image_tag("logof.png", alt: "admin image", class: 'rounded logo') %>
        </a>
            <% if current_page?(root_path) %>
              <div>
                <a class="btn btn-outline-light" href="/login/new">Login Admin</a>
              </div>
            <% elsif current_page?(new_login_path) %>
              <a class="btn btn-outline-light" href="/">Clock Checker</a>
              <% else %>
              <div>
              <a class="btn btn-outline-light" href="/home">Home Page</a>
              <a class="btn btn-outline-light" href="/">Log Out</a>
              </div>
            <% end %>
      </div>
      <br>
    </header>

    <%= yield %>

    <footer class="text-light bg-dark footer-container">
        <!-- This is the footer container-->
        <div class="container-xl d-flex justify-content-between pt-3">
          <div class="fw-bold my-auto">Team 4 RoR</div>
          <div class="fw-bold my-auto">Copyright 2023</div>
        </div>
    </footer>
  </body>
</html>
