<!DOCTYPE html>
<html>
  <head>
    <title>ClockChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-dark p-3 d-flex text-light header-container">
      <div class="d-flex justify-content-between align-items-center container-xl">
        <a class="text-dark" href="">
          <%= image_tag("logof.png", alt: "admin image", class: 'rounded logo') %>
        </a>
        <%= render 'layouts/nav' %>
      </div>
      <br>
    </header>

    <%= yield %>

    <footer class="text-light bg-dark footer-container">
        <!-- This is the footer container-->
        <div class="container-xl d-flex justify-content-between pt-3">
          <div class="fw-bold my-auto">Team 4 RoR</div>
          <div class="fw-bold my-auto">Copyright 2023</div>
        </div>
    </footer>
  </body>
</html>
