<!DOCTYPE html>
<html>
  <head>
    <title>ClockChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!-- This is the header container-->
      <div>
        <img src="#" alt="Logotipo">
        <button>Logout</button>
      </div>
      <br>
    </header>

    <%= yield %>

    <footer>
      <!-- This is the footer container-->
      <div>
        <p>Equipo 4 RoR</p>
        <p>Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>
