<!DOCTYPE html>
<html>
  <head>
    <title>ClockChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-primary p-3 d-flex">
      <div class="d-flex justify-content-between align-items-center container-xl">
        <a class="text-dark" href="">
          <%= image_tag("", alt: "admin image", class: 'rounded') %>
        </a>
        <a class="bg-danger text-white text-decoration-none p-2 rounded" href="/login/new">Login</a>
      </div>
      <br>
    </header>

      <%= yield %>

    <footer class="bg-primary p-2 d-flex">
        <!-- This is the footer container-->
        <div class="d-flex justify-content-between align-items-center container-xl">
          <div class="fw-bold">Equipo 4 RoR</div>
          <div class="fw-bold">Copyright 2023</div>
        </div>
    </footer>
  </body>
</html>
